h1 {
    padding: 10px;  /* 패딩 상,하,좌,우 10px */
    background-color: #e72f2f; /* 백그라운드 배경색 색깔 */
    color: rgb(255, 255, 255); /* 글자색깔 */
  
    /* RGB(Red, Green, Blue) */
    /* 0~255, 0~255, 0~255 -> 10진수기준
    /* 00~FF, 00~FF, 00~FF -> 16진수기준(#사용) */
    /*   cf) 같은 숫자면 생략 가능 */
  }