.password_info {
    flex: none;
    padding: 0 5px;
}

.box div { 
margin: 50px;
}

h1 {
    padding: 2px;
    color: #fff;
}
.btn_show {
    margin-left: 4px;
    vertical-align: middle;
}
body, button, input, select, table, textarea {
    font-family: Malgun Gothic, '留묒� 怨좊뵓', Helvetica, sans-serif;
    font-size: 12px;
    -webkit-text-size-adjust: none;
}
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.container {
    position: relative;
    height: 100%;
    font-size: 0;
}
html {
    font-size: 12px;
}
.btn_show {
    margin-left: 4px;
    vertical-align: middle;
}
.btn_show.hide::before {
    background-position: -256px -264px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
button, input, select, textarea {
    border-radius: 0;
    border: none;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    -webkit-text-size-adjust: none;
}
.btn_show::before {
    background-position: -256px -296px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    content: '';
}
button {
    cursor: pointer;
}
.btn_submit {
    width: 100%;
    padding: 14px 0;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .05);
    background: #09aa5c;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
}
.form_item:first-of-type {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.form_item {
    display: flex
;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 50px;
    padding: 0 10px 0 45px;
}
body, button, input, select, table, textarea {
    font-family: Malgun Gothic, 'ï§ë¬’ï¿½ æ€¨ì¢Šëµ“', Helvetica, sans-serif;
    font-size: 12px;
    -webkit-text-size-adjust: none;
}
.form_item::before {
    position: absolute;
    top: 10px;
    left: 9px;
    content: '';
}
.form_item::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border: 1px solid #dfdfdf;
    pointer-events: none;
    content: '';
}
.input {
    flex: 1 1 auto;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    color: #222;
}
.form_item.error, .form_item.focus {
    z-index: 10;
    margin-top: -2px;
}
.form_item.error::after {
    border: 2px solid #ff3f3f;
}
.form_item.user::before {
    background-position: -342px -64px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.form_item+.form_item {
    margin-top: -1px;
}
.form_item.lock::before {
    background-position: -310px 0;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.how_secure {
    display: none;
    padding: 4px 6px 3px 6px;
    border-radius: 10px;
    background: rgba(255, 168, 0, .12);
    font-size: 11px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: -.4px;
    color: #ffa41c;
    vertical-align: middle;
}
address, em {
    font-style: normal;
}
.form_item.user.error::before {
    background-position: -310px -96px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.admit_tab .tab .text::before,.admit_tab .tab[aria-selected=true] .text::before,.bottom_popup benefit_item.gift::before,
.bottom_popup .benefit_item.remit::before,.bottom_popup .benefit_item.touch::before,
.bottom_popup .btn_area .text.logo_n::before,.bottom_popup .btn_expand .text::before,.bottom_popup .title.icon_phone::before,.btn_show.hide::before,.btn_show::before,.btn_telecom::after,.check_circle input:checked+label::before,.check_circle label::before,.check_circle.error label::before,.check_normal 
.link_arrow::before,.check_normal input:checked+label::before,.check_normal label::before,.check_terms .link_arrow::before,.check_terms input:checked+label::before,.check_terms label::before,.form_item.calendar.error::before,.form_item.calendar.on::before,.form_item.calendar::before,.form_item.check_box 
.btn_expand::before,.form_item.check_box.error .check_circle label::before,.form_item.email.error::before,.form_item.email.on::before,.form_item.email::before,.form_item.globe.error::before,.form_item.globe::before,.form_item.group.error::before,.form_item.group.on::before,.form_item.group::before,.form_item.group_type.error::before,
.form_item.group_type.on::before,.form_item.group_type::before,.form_item.lock.error::before,.form_item.lock.on::before,.form_item.lock::before,.form_item.phone.error::before,.form_item.phone.on::before,.form_item.phone::before,.form_item.registration_number.error::before,.form_item.registration_number.on::before,.form_item.registration_number::before,
.form_item.telecom.error::before,.form_item.telecom.on::before,.form_item.telecom::before,.form_item.user.error::before,.form_item.user.on::before,.form_item.user::before,.help_modal_wrap .btn_close::before,.help_modal_wrap .btn_expand::after,.join_link_area .link::after,.join_toggle input:checked+label::after,.join_toggle label::after,.lang_select_wrap::after,
.lang_select_wrap::before,.link_certify::after,.logo_naver 
.link::before,.select_box::after,.welcome_wrap .main_title::before,.welcome_wrap .service_link.blog::before,.welcome_wrap .service_link.cafe::before,.welcome_wrap .service_link.home::before,.welcome_wrap .service_link.id::before,.welcome_wrap .service_link.mail::before,.welcome_wrap .service_link.shopping::before,.welcome_wrap .service_link::after {
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 326px;
    background-repeat: no-repeat
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    /*   가로축 중앙정렬 */
    align-items: flex-start;        /*  세로축 중앙정렬  */
    width: 34vw;
    height: 45vh;
    border: 1px solid black;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw
    height: 100vh;
}
.content {
    flex: 1 1 auto;
    padding-top: 30px;
}
.form {
    display: flex
;
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
}

.id_popup .btn_area .btn_login {
    width: 60%;
    background: #09aa5c;
    font-weight: 700;
}
.logo_natural_yak {
    flex: none;
    padding: 19px 115px 19px 20px;
}
.btn_submit_wrap {
    flex: none;
    padding: 20px;
}